.transaction-group-record {
	@include justify-align-flex(space-between);
	@include text-setting(sm);

	flex-direction: row;
	width: 100%;

	&__account-name--is-highlighted {
		color: var(--primary);
	}

	&__value > span {
		@include only(last) {
			@include ml(1);
		}
	}

	&__accumulated-value {
		@include ml(2);
		@include pl(2);

		color: var(--primary);
		border-left: 1px solid var(--divider);
	}

	&__accumulated-value > span:last-of-type {
		@include ml(1);
	}
}
