.transactions-group-list {
	@include my(2);

	height: 100%;

	&__list {
		@include justify-align-flex(flex-start, flex-start);
		@include p(0, 2, 1, 2);
		@include my(2, 4);

		flex-direction: column;
		gap: rem(10px);
		overflow-y: auto;
		outline: none;
		height: calc(100% - rem(220px));
	}

	&__header {
		@include justify-align-flex(flex-end, center);
		@include p(0, 2, 2);

		flex-direction: row;
		width: 100%;
		background-color: var(--background-content);
		border-bottom: 1px solid var(--divider-dark);
	}

	&__combobox {
		width: 100%;
	}
}
