.select {
	&__icon {
		@include sizer(rem(22px));
		@include justify-align-flex(center, center);
	}

	&__content {
		@include border-radius($border-radius-x-small);

		color: var(--text-primary);
		background-color: var(--background-primary);
		border: rem(1px) solid var(--divider-dark);
		transform-origin: var(--kb-select-content-transform-origin);
		animation: dropdown-content-hide 250ms ease-in forwards;
	}

	&__content[data-expanded] {
		animation: dropdown-content-show 250ms ease-out;
	}

	&__trigger {
		@include sizer(100%, rem(36px));
		@include border-radius($border-radius-x-small);
		@include p(1, 1, 1, 2);
		@include justify-align-flex(space-between, center);

		transition: $transition-border-color;
		display: inline-flex;
		outline: none;
		border: rem(1px) solid transparent;

		&:focus-visible {
			@include focus-outline(outline);
		}

		&--color-primary {
			color: var(--control-primary);
			border-color: var(--control-border-primary);
			background-color: var(--control-background-primary);

			&:disabled {
				color: var(--control-disabled-primary);
				border-color: var(--control-disabled-border-primary);
				background-color: var(--control-disabled-backgound-primary);
			}
		}

		&--color-secondary {
			color: var(--secondary-color);
			border-color: var(--secondary);
			background-color: var(--secondary);

			&:disabled {
				color: var(--divider-dark);
				border-color: var(--divider-dark);
				background-color: var(--primary-background-disabled);
			}
		}

		@media (hover: hover) {
			/* stylelint-disable-next-line max-nesting-depth */
			&--color-primary:hover:enabled {
				border-color: var(--control-hover-border-primary);
			}

			/* stylelint-disable-next-line max-nesting-depth */
			&--color-secondary:hover:enabled {
				border-color: var(--select-hover-border-secondary);
			}
		}
	}

	&__value {
		@include ellipsis;
		@include text-setting(sm);
	}

	&__listbox {
		@include p(1);

		overflow-y: auto;
		max-height: rem(360px);
	}
}
