.header-loader {
	@include p(2, 2, 3);
	@include justify-align-flex(center, flex-start);

	flex-direction: column;
	border-top: rem(2px) solid transparent;
	border-bottom: rem(2px) solid var(--divider-dark);
	gap: rem(8px);

	&__header {
		@include justify-align-flex(center, flex-start);

		flex-direction: row;
		width: 100%;
	}

	&__content {
		@include justify-align-flex;

		flex-direction: column;
		flex-grow: 1;
	}

	&__controls {
		@include justify-align-flex(center, center);

		flex-direction: column;
	}

	&__text {
		font-weight: bold;
	}

	&__text,
	&__text-date,
	&__subtitle {
		@include text-setting(xs);
	}
}
