.header-loader {
	@include p(2);
	@include justify-align-flex(center, flex-start);

	flex-direction: row;
	border-top: rem(2px) solid transparent;
	border-bottom: rem(2px) solid var(--divider-dark);

	&__content {
		@include justify-align-flex;

		flex-direction: column;
		flex-grow: 1;
	}

	&__controls {
		@include justify-align-flex(center, center);

		flex-direction: column;
	}

	&__text {
		font-weight: bold;
	}

	&__text,
	&__text-date,
	&__subtitle {
		@include text-setting(xs);
	}
}
