.collapsible-content {
	width: 100%;
	overflow: hidden;
	border-top: none;
	animation: collapsible-slide-up 300ms ease-out;

	&[data-expanded] {
		animation: collapsible-slide-down 300ms ease-out;
	}
}
