.collapsible-trigger {
	@include justify-align-flex(space-between, center);
	@include p(2);

	display: inline-flex;
	text-align: left;
	outline: none;
}

.collapsible-trigger .icon-container {
	@include sizer(rem(20px));

	position: relative;
	transition: transform 250ms;
}

.collapsible-trigger[data-expanded] .icon-container {
	transform: rotate(180deg);
}
