.collapsible-trigger {
	@include justify-align-flex(space-between, center);
	@include p(2);

	display: inline-flex;
	text-align: left;
	outline: none;

	&:not([data-disabled]):focus-visible {
		@include focus-outline;
	}
}
