@charset "UTF-8";

@use "sass:map";
@use "sass:list";
@use "palette" as palette;

$theme-variants: (
	light: (
		// Theme
		accent1: palette.get(monokai, accent1),
		accent2: palette.get(monokai, accent2),
		accent3: palette.get(monokai, accent3),
		accent4: palette.get(monokai, accent4),
		accent5: palette.get(monokai, accent5),
		accent6: palette.get(monokai, accent6),
		dimmed1: palette.get(monokai, dimmed1),
		dimmed2: palette.get(monokai, dimmed2),
		dimmed3: palette.get(monokai, dimmed3),
		dimmed4: palette.get(monokai, dimmed4),
		dimmed5: palette.get(monokai, dimmed5),
		// Common
		primary: palette.get(monokai, accent3),
		secondary: palette.get(monokai, dimmed3),
		tertiary: palette.get(monokai, accent2),
		background-primary: palette.get(stone, 200),
		background-overlay: palette.get(monokai, dark2),
		background-content: palette.get(monokai, dark1),
		focus: palette.get(blue, 900),
		divider: palette.get(stone, 500),
		divider-light: palette.get(monokai, dimmed2),
		// Navlink
		nav-link: palette.get(monokai, text),
		nav-link-hover: palette.get(monokai, accent3),
		nav-link-disabled: palette.get(monokai, dimmed5),
		nav-link-active: palette.get(monokai, background),
		nav-link-active-background: palette.get(monokai, accent3),
		// Text
		text-primary: palette.get(stone, 900),
		text-secondary: palette.get(stone, 500),
		text-white: palette.get(stone, 100),
		scrollbar: palette.get(stone, 800),
		scrollbar-track: palette.get(stone, 600),
		scrollbar-thumb: palette.get(stone, 600),
		scrollbar-thumb-border: palette.get(stone, 800),
	),
	dark: (
		// Theme
		accent1: palette.get(monokai, accent1),
		accent2: palette.get(monokai, accent2),
		accent3: palette.get(monokai, accent3),
		accent4: palette.get(monokai, accent4),
		accent5: palette.get(monokai, accent5),
		accent6: palette.get(monokai, accent6),
		dimmed1: palette.get(monokai, dimmed1),
		dimmed2: palette.get(monokai, dimmed2),
		dimmed3: palette.get(monokai, dimmed3),
		dimmed4: palette.get(monokai, dimmed4),
		dimmed5: palette.get(monokai, dimmed5),
		// Common
		primary: palette.get(monokai, accent3),
		secondary: palette.get(monokai, dimmed3),
		tertiary: palette.get(monokai, accent2),
		background-primary: palette.get(monokai, background),
		background-overlay: palette.get(monokai, dark2),
		background-content: palette.get(monokai, dark1),
		focus: palette.get(blue, 600),
		divider: palette.get(monokai, dimmed4),
		divider-light: palette.get(monokai, dimmed2),
		// Navlink
		nav-link: palette.get(monokai, text),
		nav-link-hover: palette.get(monokai, accent3),
		nav-link-disabled: palette.get(monokai, dimmed5),
		nav-link-active: palette.get(monokai, background),
		nav-link-active-background: palette.get(monokai, accent3),
		// Text
		text-primary: palette.get(monokai, text),
		text-secondary: palette.get(stone, 500),
		text-white: palette.get(stone, 100),
		scrollbar: palette.get(stone, 600),
		scrollbar-track: palette.get(stone, 600),
		scrollbar-thumb: palette.get(stone, 600),
		scrollbar-thumb-border: palette.get(stone, 800),
	),
);

@mixin if-dark {
	@media (prefers-color-scheme: dark) {
		@content;
	}
}

@each $name, $map in $theme-variants {
	html[data-theme="#{$name}"] {
		@each $key, $value in $map {
			--#{$key}: #{$value};
		}
	}
}
