.error-screen {
	@include center(absolute, both);
	@include justify-align-flex(center, center);
	@include z-index(content);
	@include pb(2);

	flex: 1;
	flex-flow: column-wrap;
	flex-direction: column;
	transform: translate(-50%, -50%) scale(0.8);
	margin: 0 auto;
	width: 60vw;

	&__overlay {
		@include z-index(overlay);

		background: var(--background-overlay);
	}

	&__title {
		@include text-setting(xl);
		@include z-index(content);

		text-align: center;
		margin-bottom: 2vw;
		margin-top: 0;
	}
}
