.statistics-toolbar {
	@include justify-align-flex(space-between, center);
	@include p(0, 2, 3, 0);

	flex-direction: row;
	width: 100%;
	border-bottom: 1px solid var(--divider-dark);

	&__left-section {
		@include justify-align-flex(space-between, center);
		@include text-setting(base);
		@include sizer(rem(220px), rem(36px));
	}

	&__right-section {
		width: rem(148px);
	}

	&__floating-section {
		@include position(absolute, auto rem(20px) rem(96px) auto);
		@include justify-align-flex(center, center);

		display: flex;
		flex-direction: row;
		gap: rem(18px);
	}
}
