.table-list {
	@include text-setting(xs);

	display: flex;
	flex-direction: column;

	&__container {
		@include ellipsis;

		display: flex;
		flex-direction: column;
	}

	&__element {
		@include justify-align-flex(space-between, center);

		flex-flow: row nowrap;
		width: 100%;
		white-space: nowrap;
	}

	&__element-section {
		@include justify-align-flex(space-between, center);
		@include p(0);

		color: var(--text-primary-darken);
		height: rem(14px);
		gap: rem(4px);
		width: 100%;
	}

	&__element-section > span {
		@include only(first) {
			@include ellipsis;
		}
	}
}
