.statistics-preview {
	@include my(2);

	height: 100%;

	&__list {
		@include justify-align-flex(flex-start, flex-start);
		@include py(1);
		@include my(2);

		flex-direction: column;
		gap: rem(10px);
		overflow: hidden auto;
		outline: none;
		position: relative;
		height: calc(100% - rem(200px));
	}

	&__tabs {
		@include py(2);
	}

	&__tabs-list {
		margin: 0 rem(-8px);
	}
}
