.table-list {
	@include text-setting(xs);

	display: flex;
	flex-direction: column;

	&__container {
		@include ellipsis;

		display: flex;
		flex-direction: column;
	}

	&__element {
		@include justify-align-flex(space-between, center);

		flex-flow: row nowrap;
		width: 100%;
		white-space: nowrap;
	}

	&__element-section {
		@include ellipsis;
		@include justify-align-flex(space-between, center);
		@include p(0, 2);

		gap: rem(4px);
		width: 100%;
	}
}
